@charset "UTF-8";
/* POR REVISAR SI HACEN ALGO */
/* RESPONSIVE */
/*Móviles en horizontal o tablets en vertical DESDE 400PX*/
@media (min-width: 400px) {
  body .contenedorPrincipal {
    /* HEADER: NAVBAR Y CARRUSEL */
    /* MAIN: CONTENIDO PPAL */
    /* FOOTER: PIE DE PÁGINA */ }
    body .contenedorPrincipal header {
      /* ESTILOS CARRUSEL */ }
      body .contenedorPrincipal header .carrusel {
        display: block; }
        body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido {
          margin: 0;
          padding: 0rem;
          left: 10%;
          right: 10%; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
            padding-top: 0.16rem;
            font-weight: bold;
            font-size: 1.6rem;
            text-shadow: 1px 1px white; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
            margin: 0rem;
            font-size: 0.96rem;
            font-weight: bold; }
            body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p span {
              color: #f7b96e;
              text-shadow: 1px 1px #f5f5f5; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones {
            margin-top: 0.32rem; }
            body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton {
              font-size: 0.96rem; }
              body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a {
                text-decoration: none;
                color: #5371FF; }
              body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:link {
                color: #5371FF; }
              body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:visited {
                color: #5371FF; }
              body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:hover {
                font-weight: bolder;
                font-size: larger; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones {
            display: flex;
            flex-direction: row; }
    body .contenedorPrincipal main .principal {
      padding: 1rem 2rem; }
      body .contenedorPrincipal main .principal .principalTitle {
        padding-bottom: 1rem;
        text-align: center; }
        body .contenedorPrincipal main .principal .principalTitle h2 {
          font-size: 1.6rem;
          margin: 0; }
        body .contenedorPrincipal main .principal .principalTitle h3 {
          font-size: 1.2rem;
          margin: 0;
          padding: 1rem; }
        body .contenedorPrincipal main .principal .principalTitle p {
          font-size: 0.96rem;
          margin: 0; }
          body .contenedorPrincipal main .principal .principalTitle p span {
            font-size: 1.28rem;
            margin: 0;
            display: block;
            font-weight: bold;
            padding: 0.5rem 0rem; }
    body .contenedorPrincipal main .news {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch; }
      body .contenedorPrincipal main .news div img {
        max-width: 60vh; }
    body .contenedorPrincipal main .prodOfertas {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch; }
      body .contenedorPrincipal main .prodOfertas div img {
        max-width: 60vh; }
    body .contenedorPrincipal footer h5 {
      font-size: 1.2rem; }
    body .contenedorPrincipal footer ul {
      font-size: 1.02rem; }
    body .contenedorPrincipal footer p {
      font-size: 0.96rem; }
    body .contenedorPrincipal footer .container {
      max-width: 768px; } }

/*Móviles en horizontal o tablets en vertical DESDE 768PX*/
@media (min-width: 768px) {
  body .contenedorPrincipal {
    /* HEADER: NAVBAR Y CARRUSEL */
    /* MAIN: CONTENIDO PPAL */
    /* FOOTER: PIE DE PÁGINA */ }
    body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido {
      margin: 0;
      padding: 0rem;
      left: 26%;
      right: 26%; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
        padding-top: 0.2rem;
        font-weight: bold;
        font-size: 2rem;
        text-shadow: 1px 1px white; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
        margin: 0rem;
        font-size: 1.2rem;
        font-weight: bold; }
        body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p span {
          color: #f7b96e;
          text-shadow: 1px 1px #f5f5f5; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones {
        margin-top: 0.4rem; }
        body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton {
          font-size: 1.2rem; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a {
            text-decoration: none;
            color: #5371FF; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:link {
            color: #5371FF; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:visited {
            color: #5371FF; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:hover {
            font-weight: bolder;
            font-size: larger; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
        display: block; }
    body .contenedorPrincipal main .principal {
      padding: 1rem 3rem; }
      body .contenedorPrincipal main .principal .principalTitle {
        padding-bottom: 1rem;
        text-align: center; }
        body .contenedorPrincipal main .principal .principalTitle h2 {
          font-size: 2rem;
          margin: 0; }
        body .contenedorPrincipal main .principal .principalTitle h3 {
          font-size: 1.5rem;
          margin: 0;
          padding: 1rem; }
        body .contenedorPrincipal main .principal .principalTitle p {
          font-size: 1.2rem;
          margin: 0; }
          body .contenedorPrincipal main .principal .principalTitle p span {
            font-size: 1.6rem;
            margin: 0;
            display: block;
            font-weight: bold;
            padding: 0.5rem 0rem; }
        body .contenedorPrincipal main .principal .principalTitle .somos {
          display: none; }
    body .contenedorPrincipal main .news div {
      padding: 0;
      max-width: 330px; }
    body .contenedorPrincipal main .prodOfertas div {
      padding: 0;
      max-width: 330px; }
    body .contenedorPrincipal footer h5 {
      font-size: 1.3rem; }
    body .contenedorPrincipal footer ul {
      font-size: 1.105rem; }
    body .contenedorPrincipal footer p {
      font-size: 1.04rem; }
    body .contenedorPrincipal footer .container {
      max-width: 1024px; }
      body .contenedorPrincipal footer .container .row div h5 {
        height: 50px; } }

/*Tablets en horizonal y escritorios normales  DESDE 1024PX*/
@media (min-width: 1024px) {
  body .contenedorPrincipal {
    /* HEADER: NAVBAR Y CARRUSEL */
    /* MAIN: CONTENIDO PPAL */
    /* FOOTER: PIE DE PÁGINA */ }
    body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido {
      margin: 0;
      padding: 0rem; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
        padding-top: 0.22rem;
        font-weight: bold;
        font-size: 2.2rem;
        text-shadow: 1px 1px white; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
        margin: 0rem;
        font-size: 1.32rem;
        font-weight: bold; }
        body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p span {
          color: #f7b96e;
          text-shadow: 1px 1px #f5f5f5; }
      body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones {
        margin-top: 0.44rem; }
        body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton {
          font-size: 1.32rem; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a {
            text-decoration: none;
            color: #5371FF; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:link {
            color: #5371FF; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:visited {
            color: #5371FF; }
          body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:hover {
            font-weight: bolder;
            font-size: larger; }
    body .contenedorPrincipal main .principal .principalTitle {
      padding-bottom: 1rem;
      text-align: center; }
      body .contenedorPrincipal main .principal .principalTitle h2 {
        font-size: 2.2rem;
        margin: 0; }
      body .contenedorPrincipal main .principal .principalTitle h3 {
        font-size: 1.65rem;
        margin: 0;
        padding: 1rem; }
      body .contenedorPrincipal main .principal .principalTitle p {
        font-size: 1.32rem;
        margin: 0; }
        body .contenedorPrincipal main .principal .principalTitle p span {
          font-size: 1.76rem;
          margin: 0;
          display: block;
          font-weight: bold;
          padding: 0.5rem 0rem; }
    body .contenedorPrincipal main .news {
      padding: 0; }
      body .contenedorPrincipal main .news div {
        margin: 0;
        padding: 0;
        max-width: 20%; }
        body .contenedorPrincipal main .news div h4 {
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center; }
    body .contenedorPrincipal main .prodOfertas {
      padding: 0; }
      body .contenedorPrincipal main .prodOfertas div {
        margin: 0;
        padding: 0;
        max-width: 20%; }
        body .contenedorPrincipal main .prodOfertas div h4 {
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center; }
    body .contenedorPrincipal footer h5 {
      font-size: 1.3rem; }
    body .contenedorPrincipal footer ul {
      font-size: 1.105rem; }
    body .contenedorPrincipal footer p {
      font-size: 1.04rem; }
    body .contenedorPrincipal footer .container {
      max-width: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

body header .headerMenu, body footer .derechos {
  background-image: linear-gradient(to right, #f7b96e, #5E0381); }

body {
  background-image: linear-gradient(to right, #f5f5f5, #5371FF); }

body header .headerMenu {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100; }

body header .headerMenu .menu {
  font-weight: bold;
  font-size: 1.3rem; }

body header .headerMenu .subMenu {
  border: solid #f5f5f5;
  padding: 5px;
  background-color: #5371FF;
  border-radius: 15px; }

body .contenedorPrincipal header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton, .header .headerMenu .subMenu :hover, .header .carrusel .carrusel_textos .carrusel-boton a:hover, main .principal form .formCont .formBlock .boton, body header .headerMenu .subMenu :hover, body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton {
  background-color: #8AE1FA;
  color: #5371FF;
  font-weight: bold;
  text-shadow: 0.5px 0.5px #8396f8;
  border-radius: 15px;
  margin: 0 5px;
  padding: 2px 5px;
  width: max-content; }

body main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

body main .botonWsp .logoWsp {
  width: 3rem;
  border-radius: 50%; }

body .contenedorPrincipal main .principal .principalTitle h2, body main .principal .principalTitle h2 {
  text-align: center;
  text-shadow: 1px 1px #f5f5f5;
  font-weight: bold; }

body .contenedorPrincipal main .principal .principalTitle a, main .news div h4, main .prodOfertas .prodOfertas-stock .stock h4, main .prodOfertas .prodOfertas-stock .stock .stock-descripcion a, main .prodOfertas .prodOfertas-stock .stock .stock-descripcion .ofertas-enfasis, main .prodOfertas .prodOfertas-packs h4, main .prodOfertas .prodOfertas-packs .pack-descripcion .ofertas-enfasis, body main .principal .principalTitle a, body footer .container .row div ul li a {
  text-decoration: none;
  color: #5E0381;
  text-shadow: 1px 1px #8396f8;
  font-weight: bold; }
  main .news div h4 a:link, main .prodOfertas .prodOfertas-stock .stock h4 a:link, main .prodOfertas .prodOfertas-stock .stock .stock-descripcion a a:link, main .prodOfertas .prodOfertas-stock .stock .stock-descripcion .ofertas-enfasis a:link, main .prodOfertas .prodOfertas-packs h4 a:link, main .prodOfertas .prodOfertas-packs .pack-descripcion .ofertas-enfasis a:link, body main .principal .principalTitle a a:link, body footer .container .row div ul li a a:link {
    color: #5E0381; }
  main .news div h4 a:visited, main .prodOfertas .prodOfertas-stock .stock h4 a:visited, main .prodOfertas .prodOfertas-stock .stock .stock-descripcion a a:visited, main .prodOfertas .prodOfertas-stock .stock .stock-descripcion .ofertas-enfasis a:visited, main .prodOfertas .prodOfertas-packs h4 a:visited, main .prodOfertas .prodOfertas-packs .pack-descripcion .ofertas-enfasis a:visited, body main .principal .principalTitle a a:visited, body footer .container .row div ul li a a:visited {
    color: #5E0381; }

body footer .derechos a {
  text-decoration: none;
  color: #f5f5f5;
  text-shadow: 1px 1px #8396f8;
  font-weight: bold; }

/* ESTILOS MAIN */
main .news {
  margin: 0;
  text-align: center; }
  main .news div h4 {
    font-size: 1.5rem; }
  main .news div img {
    width: 75%;
    max-width: 250px; }
  main .news div p {
    padding: 1rem; }

/* ESTILOS DEL MAIN */
main .prodOfertas {
  margin: 0;
  text-align: center; }
  main .prodOfertas .prodOfertas-stock .stock h4 {
    font-size: 1.5rem; }
  main .prodOfertas .prodOfertas-stock .stock img {
    box-sizing: border-box;
    width: 100%;
    max-width: 250px; }
  main .prodOfertas .prodOfertas-stock .stock .stock-descripcion {
    font-size: 1.2rem;
    padding: 1rem 0; }
    main .prodOfertas .prodOfertas-stock .stock .stock-descripcion div {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      main .prodOfertas .prodOfertas-stock .stock .stock-descripcion div p {
        font-size: 0.96rem;
        padding: 0.5rem; }
        main .prodOfertas .prodOfertas-stock .stock .stock-descripcion div p span {
          display: block;
          font-weight: bold; }
  main .prodOfertas .prodOfertas-packs h4 {
    font-size: 1.5rem; }
  main .prodOfertas .prodOfertas-packs .pack-descripcion {
    font-size: 1.2rem;
    padding: 1rem 0; }
    main .prodOfertas .prodOfertas-packs .pack-descripcion div {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      main .prodOfertas .prodOfertas-packs .pack-descripcion div p {
        font-size: 0.96rem;
        padding: 0.5rem; }
        main .prodOfertas .prodOfertas-packs .pack-descripcion div p span {
          display: block;
          font-weight: bold; }

/*
    .prodOfertas{
        padding: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
    
        img{
            width: 150px;
        };
    
    
    }
}

/*      
        estilos exclusivos PRODUCTOS 
   
        .productos{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            grid-template-areas: "estampados papeleria";

            .prod1{
                grid-area: estampados;
            }
            .prod2{
                grid-area: papeleria;
            }       
        }


        estilos exclusivos ESTAMPADOS Y PAPELERÍA

        .tipoProd{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            
            grid-template-areas: "prod1 prod2 prod3";

            .prod1{
                grid-area: prod1;
            }
            .prod2{
                grid-area: prod2;
            }  
            .prod3{
                grid-area: prod3;
            }  

        }
    
    
        estilos exclusivos CONTACTO
         
        form{

            .formCont{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                
                .formBlock{
                    padding: 0rem 2rem;

                    div{
                        padding: 0.1rem;
                    }

                    .boton{
                        @extend %botones ;                
                        margin: 1rem 0rem;
                        padding: 0rem 1rem;
                        border: none;
                    }

                    .boton:hover {
                        background: nth($paleta, $n:3);
                        color: nth($paleta-pastel, $n:1);
                        cursor: pointer;
                        margin: 1rem 0rem;
                        padding: 0rem 1.5rem;
                    }

                }
                
            } 

        }
   


        estilos exclusivos CONÓCENOS

        .iconos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: baseline;


            div{
                width: 15%;
                text-align: center;
                align-items: center;
                justify-content: center;
                justify-items: center;

                img{
                    width:100%;
                    padding-bottom: 1rem;
                }
            }



        }

        .preguntas{
            padding-top: 1rem;
        

            .acordeon{
                background-color: turquoise;

            }

            .resp_acordeon{
                background-color: purple;
            }

            .div_acordeon{
                border-radius: 50%;

            }






        }
    
    
    
    }


}
 */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, #f5f5f5, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, #f5f5f5, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid #f5f5f5;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: #f5f5f5; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2" "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: #f5f5f5;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #f5f5f5, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: #f5f5f5; }

/*
@import "base/styles_papeleria";
@import "base/styles_productos";
@import "base/styles_conocenos";
@import "base/styles_estapados";
*/
/* RESET */
/* ESTILOS GENERALES BODY */
body {
  /* HEADER: NAVBAR Y CARRUSEL */
  /* ESTILOS GENERALES DEL MAIN */
  /* ESTILOS DEL FOOTER */ }
  body header {
    /* ESTILOS DEL MENÚ */
    /* ESTILOS CARRUSEL*/ }
    body header .headerMenu {
      /* ESTILOS DEL SUBMENÚ */ }
      body header .headerMenu .linkMenu img {
        width: 7rem; }
      body header .headerMenu .botonBurger {
        background-color: white; }
      body header .headerMenu .linkMenu, body header .headerMenu .navbar-nav li a {
        color: #f5f5f5; }
    body header .carrusel {
      display: none;
      padding-top: 4.3rem; }
      body header .carrusel .carrusel-inner .carrusel-item img {
        opacity: 0.7; }
      body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0rem; }
        body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
          padding-top: 0.15rem;
          font-weight: bold;
          font-size: 1.5rem;
          text-shadow: 1px 1px white; }
        body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
          margin: 0rem;
          font-size: 0.9rem;
          font-weight: bold; }
          body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p span {
            color: #f7b96e;
            text-shadow: 1px 1px #f5f5f5; }
        body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones {
          margin-top: 0.3rem; }
          body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton {
            font-size: 0.9rem; }
            body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a {
              text-decoration: none;
              color: #5371FF; }
            body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:link {
              color: #5371FF; }
            body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:visited {
              color: #5371FF; }
            body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_botones .carrusel_boton a:hover {
              font-weight: bolder;
              font-size: larger; }
        body header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
          display: none; }
      body header .carrusel .carrusel-img-botones {
        /*display: flex;*/
        margin: 0; }
  body main .principal {
    padding: 5rem 2rem 2rem 2rem; }
    body main .principal .principalTitle {
      padding-bottom: 1rem;
      text-align: center; }
      body main .principal .principalTitle h2 {
        font-size: 1.5rem;
        margin: 0; }
      body main .principal .principalTitle h3 {
        font-size: 1.125rem;
        margin: 0;
        padding: 1rem; }
      body main .principal .principalTitle p {
        font-size: 0.9rem;
        margin: 0; }
        body main .principal .principalTitle p span {
          font-size: 1.2rem;
          margin: 0;
          display: block;
          font-weight: bold;
          padding: 0.5rem 0rem; }
  body footer h5 {
    font-size: 1.2rem; }
  body footer ul {
    font-size: 1.02rem; }
  body footer p {
    font-size: 0.96rem; }
  body footer .container {
    box-sizing: border-box;
    margin: 0 0px;
    padding: 0px 15px 10px 15px;
    text-align: left;
    max-width: 400px; }
    body footer .container .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px; }
      body footer .container .row div {
        position: relative;
        padding: 0 20px 15px 20px;
        display: block; }
        body footer .container .row div h5 {
          text-transform: uppercase;
          margin: 0 0 20px 0;
          padding-bottom: 15px;
          border-bottom: 2px solid #5E0381;
          position: relative; }
        body footer .container .row div ul {
          margin: 0;
          padding-left: 15px;
          padding-bottom: 15px; }
          body footer .container .row div ul li a {
            text-shadow: none; }
            body footer .container .row div ul li a img {
              padding: 0.2rem; }
  body footer .derechos {
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0.8rem; }
