@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  /*border: solid pink;*/
  background-image: linear-gradient(to bottom right, #8396f8, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    width: 100%;
    background-color: #8396f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu {
      /*border: solid purple;*/ }
      .header .headerMenu .linkMenu img {
        width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      /*border: solid yellow;*/
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
    .header .headerMenu .subMenu :hover {
      background-color: #8AE1FA;
      color: #5371FF;
      font-weight: bold;
      border-radius: 15px; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel-title {
      font-size: 5rem; }
    .header .carrusel .carrusel-boton {
      display: inline-block;
      background-color: #8AE1FA;
      padding: 0.1rem 0.5rem;
      border-radius: 20rem;
      font-size: 1rem;
      font-weight: bold; }
      .header .carrusel .carrusel-boton a {
        text-decoration: none; }
      .header .carrusel .carrusel-boton a:link {
        color: #5371FF; }
      .header .carrusel .carrusel-boton a:visited {
        color: #5371FF; }
      .header .carrusel .carrusel-boton a:hover {
        border-radius: 20px;
        margin: 2px;
        padding: 2px;
        font-weight: bold; }

/* ESTILOS DEL MAIN */
main {
  /*border: solid green;*/ }
  main .botonWsp {
    background-color: #0dc143;
    position: fixed;
    bottom: 10%;
    right: 1rem;
    z-index: 100;
    border-radius: 50%;
    animation: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite; }
    main .botonWsp .logoWsp {
      width: 4rem;
      border-radius: 50%; }
  main .principal {
    padding: 2rem; }
    main .principal .principalTitle {
      padding-bottom: 1rem; }
      main .principal .principalTitle h2 {
        font-size: 1.5rem; }
      main .principal .principalTitle h3 {
        font-size: 1rem; }
  main .principal {
    /* estilos exclusivos INDEX */
    /* estilos exclusivos PRODUCTOS */
    /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
    /* estilos exclusivos OFERTAS */
    /* estilos exclusivos CONTACTO */
    /* estilos exclusivos CONÓCENOS */ }
    main .principal .news {
      padding: 0.5rem 0rem 0.5rem 0rem;
      display: grid;
      place-content: center;
      grid-template-rows: auto;
      grid-template-columns: 6fr 6fr;
      grid-template-areas: "card1 card2" "card3 card4"; }
      main .principal .news div {
        text-align: center;
        padding: 0rem 1rem 0.5rem 1rem; }
        main .principal .news div h4 {
          font-weight: bold;
          font-size: 1rem; }
        main .principal .news div img {
          width: 60%; }
        main .principal .news div p {
          padding-top: 1rem; }
      main .principal .news .news1 {
        grid-area: card1; }
      main .principal .news .news2 {
        grid-area: card2; }
      main .principal .news .news3 {
        grid-area: card3; }
      main .principal .news .news4 {
        grid-area: card4; }
    main .principal .productos {
      padding: 1rem;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "estampados papeleria"; }
      main .principal .productos .prod1 {
        grid-area: estampados; }
      main .principal .productos .prod2 {
        grid-area: papeleria; }
    main .principal .tipoProd {
      padding: 1rem;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas: "prod1 prod2 prod3"; }
      main .principal .tipoProd .prod1 {
        grid-area: prod1; }
      main .principal .tipoProd .prod2 {
        grid-area: prod2; }
      main .principal .tipoProd .prod3 {
        grid-area: prod3; }
    main .principal .iconos {
      display: flex;
      justify-content: center;
      background-color: white; }
      main .principal .iconos div {
        width: 3fr;
        justify-items: center; }
        main .principal .iconos div img {
          display: inline-block;
          width: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 0rem;
  background-color: #53BBAD; }
  footer .containerFooter a {
    text-decoration: none;
    color: whitesmoke; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
