@charset "UTF-8";
/* RESPONSIVE */
/*Móviles en horizontal o tablets en vertical DESDE 400PX*/
@media (min-width: 400px) {
  body {
    /* HEADER: NAVBAR Y CARRUSEL */
    /* MAIN: CONTENIDO PPAL */
    /* FOOTER: PIE DE PÁGINA */ }
    body .header .carrusel {
      display: block;
      padding-top: 4.3rem; }
      body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
        font-size: 1.5rem; }
      body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
        display: none; }
      body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton {
        display: none; }
      body .header .carrusel .carrusel-img-botones {
        display: flex; }
    body main .principal {
      padding: 1.5rem; }
      body main .principal .principalTitle {
        padding-bottom: 1rem;
        text-align: center; }
        body main .principal .principalTitle h2 {
          font-size: 1.8rem;
          margin: 0; }
        body main .principal .principalTitle h3 {
          font-size: 1.35rem;
          margin: 0;
          padding: 1rem; }
        body main .principal .principalTitle p {
          font-size: 1.08rem;
          margin: 0; }
        body main .principal .principalTitle span {
          font-size: 1.44rem;
          margin: 0;
          display: block;
          font-weight: bold;
          padding: 0.5rem 0rem; }
        body main .principal .principalTitle a:link {
          color: #5E0381; }
        body main .principal .principalTitle a:visited {
          color: #5E0381; }
    body main .news div img {
      width: auto; }
    body footer h5 {
      font-size: 1.2rem; }
    body footer ul {
      font-size: 1.02rem; }
    body footer p {
      font-size: 0.96rem; }
    body footer .container {
      max-width: 768px; } }

/*Móviles en horizontal o tablets en vertica  DESDE 768PX*/
@media (min-width: 768px) {
  body {
    /* HEADER: NAVBAR Y CARRUSEL */
    /* MAIN: CONTENIDO PPAL */
    /* FOOTER: PIE DE PÁGINA */ }
    body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
      font-size: 1.8rem; }
    body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
      display: block;
      font-size: 1.2rem; }
    body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton {
      display: inline;
      margin: 0rem 1rem;
      padding: 0.1rem 0.5rem;
      font-size: 1rem; }
    body main .principal {
      padding: 1.5rem 3rem; }
      body main .principal .principalTitle {
        padding-bottom: 1rem;
        text-align: center; }
        body main .principal .principalTitle h2 {
          font-size: 2rem;
          margin: 0; }
        body main .principal .principalTitle h3 {
          font-size: 1.5rem;
          margin: 0;
          padding: 1rem; }
        body main .principal .principalTitle p {
          font-size: 1.2rem;
          margin: 0; }
        body main .principal .principalTitle span {
          font-size: 1.6rem;
          margin: 0;
          display: block;
          font-weight: bold;
          padding: 0.5rem 0rem; }
        body main .principal .principalTitle a:link {
          color: #5E0381; }
        body main .principal .principalTitle a:visited {
          color: #5E0381; }
    body footer h5 {
      font-size: 1.3rem; }
    body footer ul {
      font-size: 1.105rem; }
    body footer p {
      font-size: 1.04rem; }
    body footer .container {
      max-width: 1024px; } }

/*Tablets en horizonal y escritorios normales  DESDE 1024PX*/
@media (min-width: 1024px) {
  body {
    /* HEADER: NAVBAR Y CARRUSEL */
    /* MAIN: CONTENIDO PPAL */
    /* FOOTER: PIE DE PÁGINA */ }
    body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
      font-size: 2rem; }
    body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido p {
      display: block;
      font-size: 1.5rem; }
    body .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton {
      display: inline;
      margin: 0rem 1rem;
      padding: 0.1rem 0.5rem;
      font-size: 1rem; }
    body main .principal {
      padding: 1.5rem 3rem; }
      body main .principal .principalTitle {
        padding-bottom: 1rem;
        text-align: center; }
        body main .principal .principalTitle h2 {
          font-size: 2.2rem;
          margin: 0; }
        body main .principal .principalTitle h3 {
          font-size: 1.65rem;
          margin: 0;
          padding: 1rem; }
        body main .principal .principalTitle p {
          font-size: 1.32rem;
          margin: 0; }
        body main .principal .principalTitle span {
          font-size: 1.76rem;
          margin: 0;
          display: block;
          font-weight: bold;
          padding: 0.5rem 0rem; }
        body main .principal .principalTitle a:link {
          color: #5E0381; }
        body main .principal .principalTitle a:visited {
          color: #5E0381; }
    body footer h5 {
      font-size: 1.3rem; }
    body footer ul {
      font-size: 1.105rem; }
    body footer p {
      font-size: 1.04rem; }
    body footer .container {
      max-width: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.header .headerMenu, footer .derechos {
  background-image: linear-gradient(to right, #f7b96e, #5E0381); }

body {
  background-image: linear-gradient(to right, #f5f5f5, #5371FF); }

.header .headerMenu {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100; }

.header .headerMenu .menu {
  font-weight: bold;
  font-size: 1.3rem; }

.header .headerMenu .subMenu {
  border: solid #f5f5f5;
  padding: 5px;
  background-color: #5371FF;
  border-radius: 15px; }

.header .headerMenu .subMenu :hover, .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton {
  background-color: #8AE1FA;
  color: #5371FF;
  font-weight: bold;
  border-radius: 15px; }

main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

main .botonWsp .logoWsp {
  width: 3rem;
  border-radius: 50%; }

body main .principal .principalTitle h2, main .principal .principalTitle h2 {
  text-align: left;
  text-shadow: 1px 1px #f5f5f5;
  font-weight: bold; }

body main .principal .principalTitle a, main .principal .principalTitle a, main .news div h4, footer .container .row div ul li a {
  text-decoration: none;
  color: #5E0381;
  text-shadow: 1px 1px #8396f8;
  font-weight: bold; }

footer .derechos a {
  text-decoration: none;
  color: #f5f5f5;
  text-shadow: 1px 1px #8396f8;
  font-weight: bold; }

/* ESTILOS MAIN */
main .principal {
  padding: 5rem 2rem 2rem 2rem; }
  main .principal .principalTitle {
    padding-bottom: 1rem;
    text-align: center; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem;
      margin: 0; }
    main .principal .principalTitle h3 {
      font-size: 1.125rem;
      margin: 0;
      padding: 1rem; }
    main .principal .principalTitle p {
      font-size: 0.9rem;
      margin: 0; }
    main .principal .principalTitle span {
      font-size: 1.2rem;
      margin: 0;
      display: block;
      font-weight: bold;
      padding: 0.5rem 0rem; }
    main .principal .principalTitle a:link {
      color: #5E0381; }
    main .principal .principalTitle a:visited {
      color: #5E0381; }

main .news {
  margin: 0;
  text-align: center; }
  main .news div h4 {
    font-size: 1.5rem; }
  main .news div img {
    width: 75%; }
  main .news div p {
    padding: 1rem; }

/*
@import "base/styles_ofertas";
@import "base/styles_papeleria";
@import "base/styles_productos";
@import "base/styles_conocenos";
@import "base/styles_contacto";
@import "base/styles_estapados";
*/
/* RESET */
/* ESTILOS GENERALES BODY */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: #f5f5f5; }
  .header .carrusel {
    display: none; }
    .header .carrusel .carrusel-inner .carrusel-item img {
      opacity: 0.7; }
    .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido {
      margin: 0;
      padding: 0rem;
      display: flexbox; }
      .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido h1 {
        font-size: 1.5rem; }
      .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton {
        display: flexbox;
        margin: 0rem 1rem;
        padding: 0.1rem 0.5rem;
        font-size: 0.8rem;
        width: max-content; }
        .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel-inner .carrusel-item .carrusel-contenido .carrusel_boton a:hover {
          font-weight: bolder;
          font-size: larger; }
    .header .carrusel .carrusel-img-botones {
      display: none;
      margin: 0; }

/* ESTILOS DEL FOOTER */
footer h5 {
  font-size: 1.2rem; }

footer ul {
  font-size: 1.02rem; }

footer p {
  font-size: 0.96rem; }

footer .container {
  box-sizing: border-box;
  margin: 0 0px;
  padding: 0px 15px 10px 15px;
  text-align: left;
  max-width: 400px; }
  footer .container .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
    footer .container .row div {
      position: relative;
      padding: 0 20px 15px 20px;
      display: block; }
      footer .container .row div h5 {
        text-transform: uppercase;
        margin: 0 0 20px 0;
        padding-bottom: 15px;
        border-bottom: 2px solid #5E0381;
        position: relative;
        height: 50px; }
      footer .container .row div ul {
        margin: 0;
        padding-left: 15px;
        padding-bottom: 15px; }
        footer .container .row div ul li a {
          text-shadow: none; }
          footer .container .row div ul li a img {
            padding: 0.2rem; }

footer .derechos {
  color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0.8rem; }
