
@import "base/variables";
@import "base/mixin";
@import "base/listas";
@import "base/maps";
@import "base/extend";

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ESTILOS GENERALES BODY */

body {
    background-image: linear-gradient(to right,(nth($paleta-pastel, $n:1)), (nth($paleta, $n:3)))
}

/* ESTILOS DEL HEADER */

.header{
    /* ESTILOS DEL MENÚ */

    .headerMenu{
        height: auto;
        width: 100%;
        background-image: linear-gradient(to right,(nth($paleta-pastel, $n:1)),(nth($paleta-pastel, $n:4)),(nth($paleta, $n:4)));
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        z-index: 100;    

        .linkMenu{
            img{
                width: 7rem;
            }   
        }
            
        .botonBurger{
            background-color: nth($paleta, $n:1);
        }

        .menu{
            font-weight: bold;
            font-size: 1.3rem;
        }

        /* ESTILOS DEL SUBMENÚ */

        .subMenu{
            border: solid nth($paleta-pastel, $n:1);
            padding: 5px;
            background-color: nth($paleta, $n:3);
            border-radius: 15px;
        }

        .linkMenu, .navbar-nav li a{
            color: nth($paleta-pastel, $n:1);
        }

        .subMenu :hover{
            @extend %botones ;
        }
    }

    /* ESTILOS CARRUSEL*/
    .carrusel{
        padding-top: 4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .carrusel_textos{
            

            .carrusel-title{
                font-size: 5rem;
            }
    
            .carrusel-boton{
                display: inline-block;      
                background-color: nth($paleta, $n:5);
                padding: 0.1rem 0.5rem;
                border-radius: 20rem;
                font-size: 1rem;
                font-weight: bold;
                
                a{
                    text-decoration: none;
                    color: nth($paleta, $n:3);
                }
    
                a:link{
                    color: nth($paleta, $n:3);
                }
    
                a:visited{
                    color: nth($paleta, $n:3);
                }
    
                a:hover{
                    @extend %botones ;                
                    margin: 2px;
                    padding: 2px;
                }
    
            }
        }
    }
}

/* ESTILOS DEL MAIN */

main{

    .botonWsp{
        background-color: $color-wsp;
        position:fixed;
        bottom:10%;
        right:1rem;
        z-index: 100;
        border-radius: 50%;
        animation: pulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      
        .logoWsp{
            width: 3rem;
            border-radius: 50%;
        }
    
    }

    .principal{
        padding: 2rem 4rem;
      
       .principalTitle{
           padding-bottom: 1rem;
           
           h2{
               font-size: 1.5rem;
           }
               
           h3{
               font-size: 1rem;
           }
       }

        /* estilos exclusivos INDEX */

        .news{
            padding: 0.5rem 0rem 0.5rem 0rem;
            display: grid;
            place-content: center;

            grid-template-rows: auto;
            grid-template-columns: 6fr 6fr;
           

            grid-template-areas: "card1 card2"
                                 "card3 card4";

            div{
                text-align: center;
                padding: 0rem 1rem 0.5rem 1rem;

                h4{
                    font-weight: bold;
                    font-size: 1rem;
                }

                img{
                    width: 60%;
                }

                p{
                    padding-top: 1rem;
                }

            }
            
            .news1{
                grid-area: card1;
            }
            .news2{
                grid-area: card2;
            }
            .news3{
                grid-area: card3;
            }
            .news4{
                grid-area: card4;
            }           

        }
    

        /* estilos exclusivos PRODUCTOS */
   
        .productos{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            
            grid-template-areas: "estampados papeleria";

            .prod1{
                grid-area: estampados;
            }
            .prod2{
                grid-area: papeleria;
            }       

        }

        /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */

        .tipoProd{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            
            grid-template-areas: "prod1 prod2 prod3";

            .prod1{
                grid-area: prod1;
            }
            .prod2{
                grid-area: prod2;
            }  
            .prod3{
                grid-area: prod3;
            }  

        }
    
        /* estilos exclusivos OFERTAS */

        .prodOfertas{
            padding: 1rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            text-align: center;

            img{
                width: 150px;
            };

        
        }

    
    
        /* estilos exclusivos CONTACTO */
         
        form{

            .formCont{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                
                .formBlock{
                    padding: 0rem 2rem;

                    div{
                        padding: 0.1rem;
                    }

                    .boton{
                        @extend %botones ;                
                        margin: 1rem 0rem;
                        padding: 0rem 1rem;
                        border: none;
                    }

                    .boton:hover {
                        background: nth($paleta, $n:3);
                        color: nth($paleta-pastel, $n:1);
                        cursor: pointer;
                        margin: 1rem 0rem;
                        padding: 0rem 1.5rem;
                    }

                }
                
            } 

        }
   


        /* estilos exclusivos CONÓCENOS */

        .iconos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: baseline;


            div{
                width: 15%;
                text-align: center;
                align-items: center;
                justify-content: center;
                justify-items: center;

                img{
                    width:100%;
                    padding-bottom: 1rem;
                }
            }



        }

        .preguntas{
            padding-top: 1rem;
        

            .acordeon{
                background-color: turquoise;

            }

            .resp_acordeon{
                background-color: purple;
            }

            .div_acordeon{
                border-radius: 50%;

            }






        }
    
    
    
    }


}
    
/* ESTILOS DEL FOOTER */

footer{
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to right,(nth($paleta-pastel, $n:1)),(nth($paleta-pastel, $n:7)), (nth($paleta, $n:7)));

    .containerFooter{

        a{
            text-decoration: none;
            color: nth($paleta, $n:4);
        }

        .footerBlocks{
            padding: 0rem 0.5rem 0rem 0.5rem;
            width: 100%;
            display: inline-flex;
            align-items: flex-start;
            justify-content: space-between;

            .block{
                padding: 0.5rem;
            
                .footerBlocksTitle{
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                span{
                    display: block;
                }
                
            }

        }
        
        .derechos{
            text-align: center;
            font-size: 0.8rem;

            a{
                color: nth($paleta-pastel, $n:1);;
            }
        }

    }


    
}