@charset "UTF-8";
.header .headerMenu .subMenu :hover, .header .carrusel .carrusel_textos .carrusel-boton a:hover, main .principal form .formCont .formBlock .boton {
  background-color: #8AE1FA;
  color: #5371FF;
  font-weight: bold;
  border-radius: 15px; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* ESTILOS GENERALES BODY */
body {
  background-image: linear-gradient(to right, whitesmoke, #5371FF); }

/* ESTILOS DEL HEADER */
.header {
  /* ESTILOS DEL MENÚ */
  /* ESTILOS CARRUSEL*/ }
  .header .headerMenu {
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, whitesmoke, #78468b, #5E0381);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    /* ESTILOS DEL SUBMENÚ */ }
    .header .headerMenu .linkMenu img {
      width: 7rem; }
    .header .headerMenu .botonBurger {
      background-color: white; }
    .header .headerMenu .menu {
      font-weight: bold;
      font-size: 1.3rem; }
    .header .headerMenu .subMenu {
      border: solid whitesmoke;
      padding: 5px;
      background-color: #5371FF;
      border-radius: 15px; }
    .header .headerMenu .linkMenu, .header .headerMenu .navbar-nav li a {
      color: whitesmoke; }
  .header .carrusel {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .carrusel .carrusel_textos {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .carrusel .carrusel_textos .carrusel_title {
        font-size: 5rem; }
      .header .carrusel .carrusel_textos .carrusel-boton {
        display: inline-block;
        background-color: #8AE1FA;
        padding: 0.1rem 0.5rem;
        border-radius: 20rem;
        font-size: 1rem;
        font-weight: bold; }
        .header .carrusel .carrusel_textos .carrusel-boton a {
          text-decoration: none;
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:link {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:visited {
          color: #5371FF; }
        .header .carrusel .carrusel_textos .carrusel-boton a:hover {
          margin: 2px;
          padding: 2px; }

/* ESTILOS DEL MAIN */
main .botonWsp {
  background-color: #0dc143;
  position: fixed;
  bottom: 10%;
  right: 1rem;
  z-index: 100;
  border-radius: 50%;
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite; }
  main .botonWsp .logoWsp {
    width: 3rem;
    border-radius: 50%; }

main .principal {
  padding: 2rem 4rem;
  /* estilos exclusivos INDEX */
  /* estilos exclusivos PRODUCTOS */
  /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */
  /* estilos exclusivos OFERTAS */
  /* estilos exclusivos CONTACTO */
  /* estilos exclusivos CONÓCENOS */ }
  main .principal .principalTitle {
    padding-bottom: 1rem; }
    main .principal .principalTitle h2 {
      font-size: 1.5rem; }
    main .principal .principalTitle h3 {
      font-size: 1rem; }
  main .principal .news {
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: grid;
    place-content: center;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "card1 card2"
 "card3 card4"; }
    main .principal .news div {
      text-align: center;
      padding: 0rem 1rem 0.5rem 1rem; }
      main .principal .news div h4 {
        font-weight: bold;
        font-size: 1rem; }
      main .principal .news div img {
        width: 60%; }
      main .principal .news div p {
        padding-top: 1rem; }
    main .principal .news .news1 {
      grid-area: card1; }
    main .principal .news .news2 {
      grid-area: card2; }
    main .principal .news .news3 {
      grid-area: card3; }
    main .principal .news .news4 {
      grid-area: card4; }
  main .principal .productos {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "estampados papeleria"; }
    main .principal .productos .prod1 {
      grid-area: estampados; }
    main .principal .productos .prod2 {
      grid-area: papeleria; }
  main .principal .tipoProd {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "prod1 prod2 prod3"; }
    main .principal .tipoProd .prod1 {
      grid-area: prod1; }
    main .principal .tipoProd .prod2 {
      grid-area: prod2; }
    main .principal .tipoProd .prod3 {
      grid-area: prod3; }
  main .principal .prodOfertas {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center; }
    main .principal .prodOfertas img {
      width: 150px; }
  main .principal form .formCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    main .principal form .formCont .formBlock {
      padding: 0rem 2rem; }
      main .principal form .formCont .formBlock div {
        padding: 0.1rem; }
      main .principal form .formCont .formBlock .boton {
        margin: 1rem 0rem;
        padding: 0rem 1rem;
        border: none; }
      main .principal form .formCont .formBlock .boton:hover {
        background: #5371FF;
        color: whitesmoke;
        cursor: pointer;
        margin: 1rem 0rem;
        padding: 0rem 1.5rem; }
  main .principal .iconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    main .principal .iconos div {
      width: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      justify-items: center; }
      main .principal .iconos div img {
        width: 100%;
        padding-bottom: 1rem; }
  main .principal .preguntas {
    padding-top: 1rem; }
    main .principal .preguntas .acordeon {
      background-color: turquoise; }
    main .principal .preguntas .resp_acordeon {
      background-color: purple; }
    main .principal .preguntas .div_acordeon {
      border-radius: 50%; }

/* ESTILOS DEL FOOTER */
footer {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, whitesmoke, #8ac4bc, #53BBAD); }
  footer .containerFooter a {
    text-decoration: none;
    color: #5E0381; }
  footer .containerFooter .footerBlocks {
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    footer .containerFooter .footerBlocks .block {
      padding: 0.5rem; }
      footer .containerFooter .footerBlocks .block .footerBlocksTitle {
        font-size: 1.3rem;
        font-weight: bold; }
      footer .containerFooter .footerBlocks .block span {
        display: block; }
  footer .containerFooter .derechos {
    text-align: center;
    font-size: 0.8rem; }
    footer .containerFooter .derechos a {
      color: whitesmoke; }
