
/* ESTILOS DEL MAIN */

main{

    .principal{
      
        /* estilos exclusivos PRODUCTOS */
   
        .productos{
            padding: 1rem;
            display: flex;
            justify-content: space-evenly;

            .prod1{
                padding: 1rem;
            }
            .prod2{
                padding: 1rem;
            }       
        }
    }
}