/* ESTILOS DEL MAIN */

main{

    .principal{
        
        /* estilos exclusivos CONTACTO */
         
        form{

            .formCont{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                
                .formBlock{
                    padding: 0rem 2rem;

                    div{
                        padding: 0.1rem;
                    }

                    .boton{
                        @extend %botones ;                
                        margin: 1rem 0rem;
                        padding: 0rem 1rem;
                        border: none;
                    }

                    .boton:hover {
                        background: nth($paleta, $n:3);
                        color: nth($paleta-pastel, $n:1);
                        cursor: pointer;
                        margin: 1rem 0rem;
                        padding: 0rem 1.5rem;
                    }

                }
                
            }
        }
    }
}

        
            
   