
/* ESTILOS DEL MAIN */

main{
    .principal{
        
        /* estilos exclusivos ESTAMPADOS Y PAPELERÍA */

        .tipoProd{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            
            grid-template-areas: "prod1 prod2 prod3";

            .prod1{
                grid-area: prod1;
            }
            .prod2{
                grid-area: prod2;
            }  
            .prod3{
                grid-area: prod3;
            }  
        }
    }
}