/* ESTILOS DEL MAIN */

main{ 
    .prodOfertas{
        margin: 0;
        text-align: center;

        .prodOfertas-stock{
            .stock{
                h4{
                    @include main-div-title(1.5rem);
                }

                img{
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 250px;
                }
                .stock-descripcion{
                    @include stock-description(1.2rem);
                    div{
                        p{
                            span{
                            }
                        }
                    }
                }
            }    
        }

        .prodOfertas-packs{
            border: solid green;
            h4{

            }
            .packs-imgs{

            }

            .pack-descripcion{
                p{

                }
                ul{
                    li{

                    }
                }
            }
        }
    }
}
    
/*
    .prodOfertas{
        padding: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
    
        img{
            width: 150px;
        };
    
    
    }
}

/*      
        estilos exclusivos PRODUCTOS 
   
        .productos{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            grid-template-areas: "estampados papeleria";

            .prod1{
                grid-area: estampados;
            }
            .prod2{
                grid-area: papeleria;
            }       
        }


        estilos exclusivos ESTAMPADOS Y PAPELERÍA

        .tipoProd{
            padding: 1rem;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            
            grid-template-areas: "prod1 prod2 prod3";

            .prod1{
                grid-area: prod1;
            }
            .prod2{
                grid-area: prod2;
            }  
            .prod3{
                grid-area: prod3;
            }  

        }
    
    
        estilos exclusivos CONTACTO
         
        form{

            .formCont{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                
                .formBlock{
                    padding: 0rem 2rem;

                    div{
                        padding: 0.1rem;
                    }

                    .boton{
                        @extend %botones ;                
                        margin: 1rem 0rem;
                        padding: 0rem 1rem;
                        border: none;
                    }

                    .boton:hover {
                        background: nth($paleta, $n:3);
                        color: nth($paleta-pastel, $n:1);
                        cursor: pointer;
                        margin: 1rem 0rem;
                        padding: 0rem 1.5rem;
                    }

                }
                
            } 

        }
   


        estilos exclusivos CONÓCENOS

        .iconos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: baseline;


            div{
                width: 15%;
                text-align: center;
                align-items: center;
                justify-content: center;
                justify-items: center;

                img{
                    width:100%;
                    padding-bottom: 1rem;
                }
            }



        }

        .preguntas{
            padding-top: 1rem;
        

            .acordeon{
                background-color: turquoise;

            }

            .resp_acordeon{
                background-color: purple;
            }

            .div_acordeon{
                border-radius: 50%;

            }






        }
    
    
    
    }


}
 */