/* ESTILOS DEL MAIN */

main{

    .principal{
       
        /* estilos exclusivos CONÓCENOS */

        .iconos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: baseline;


            div{
                width: 15%;
                text-align: center;
                align-items: center;
                justify-content: center;
                justify-items: center;

                img{
                    width:100%;
                    padding-bottom: 1rem;
                }
            }



        }

        .preguntas{
            padding-top: 1rem;

            .acordeon{
                border: solid nth($paleta, $n:3 );
            }
        

            .acordeon1{
                background-color: nth($paleta, $n:1 );

            }

            .resp_acordeon1{
                background-color: nth($paleta-pastel, $n:2 );
            }

            .resp_acordeon2{
                background-color: nth($paleta-pastel, $n:7 );
            }

            .resp_acordeon3{
                background-color: nth($paleta-pastel, $n:8 );
            }

            .resp_acordeon4{
                background-color: nth($paleta-pastel, $n:6 );
            }
        }

    }
}