/* ESTILOS MAIN */

main{
    .news{
        margin: 0;
        text-align: center;

        div{
            h4{
                @include main-div-title(1.5rem);
            }
            img{
                width: 75%;
                max-width: 250px;
            }

            p{
                padding: 1rem;
            }
        }
    }
    



}